<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">MEAN Trivia</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/auth/login']">Login</a>
    </li>
  </ul>
</nav>
<main>
  <section class="jumbotron">
    <h1 class="display-4">Welcome to MEAN Trivia!</h1>
    <p class="lead">Give us your money to get a chance to win the Jackpot!</p>
    <hr class="my-4" />
    <p>Compete against other contestants in a game of trivia.</p>
    <p>
      The contestansts who have answered the most questions correctly will split
      the Jackpot.
    </p>
    <p>Any question answered incorrectly is an automatic loss.</p>
    <h5>Good Luck!</h5>
  </section>
</main>
